/* Footer */

#footer {padding: 10px 0;}
#footer a {
    color: #579;
    text-decoration: none;
}
#footer .right, #footer .right a {
    color: #999;
    text-decoration: none;
}
#footer .text-separator {
    padding: 0 3px;
    color: #BBB;
}
#footer a:hover {color: #000;}