/* Network */

#network {background: #EEE;}
#network .left {
    color: #333;
    padding: 6px 0;
}
#network .tabbed a {
    display: block;
    padding: 6px 10px 7px;
    text-decoration: none;
    color: #666;
}
#network li a:hover {
    background: #F6F6F6;
    color: #000;
}
#network li.current-tab a {
    background: #FFF;
    font-weight: bold;
}
#network .text-separator, #network span {color: #999;}