.container-speech {
    padding-left: calc(100% - 400px);
    position: absolute;
    margin-top: -30px;
    margin-left: 20px;
}
.container-speech td {
    padding-left: 10px;
}
.container-speech .btn-container {
    display: flex;
}
.container-speech .btn-container button {
    border: none;
    background-color: #276cab;
    padding: 5px;
    border-radius: 5px;
    width: 50px;
    color: whitesmoke;
    margin-left: 20px;
    cursor: pointer;
}
.btn-container span {
    margin-top: 5px;
}
